.image-container {
    position: absolute;
    overflow: hidden;
    border-radius: 1rem;
    background-color: #ef4444;
  }
  
  .title-container {
    position: relative;
    font-family: font2;
  }
  
  .title {
    font-size: 20vw;
    text-align: center;
    color: black;
    text-transform: uppercase;
  }
  
  .text {
    font-size: 4rem;
    color: black;
  }
  