@import "tailwindcss";


@font-face {
  font-family: 'font1';
  src: url('/fonts/Lausanne-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'font2';
  src: url('/fonts/Lausanne-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
html{
   font-size: clamp(14px, 1vw, 18px);
}
 body{
  overflow-x: hidden;
  background-color: #111;

 }

.stairs-container {
  display: flex;
  width: 120%;
  height: 100%;
  overflow: hidden; /* prevents bleeding */
}

.moveX{
  animation-name: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}

.moveLink{
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.link:hover .moveLink{
  opacity: 1;
}

@keyframes moveAnimation {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #d3fd50;
  z-index: 0;
  transition: height 0.4s ease-in-out;
}

.list.active::before {
  height: 100%;
}
.list.active {
  border-color: black;
}